.standard-shadow{
    box-shadow: 0px 2px 6px 3px rgba(204, 204, 204, 0.72);
    -webkit-box-shadow: 0px 2px 6px 3px rgba(204, 204, 204, 0.72);
    -moz-box-shadow: 0px 2px 6px 3px rgba(204, 204, 204, 0.72);
}

.avatar{
    border-radius: 50%;
}

.line{
    height: 2px;
    width: 100%;
    background-color: rgba(161, 161, 161,0.5);
}
.content-start{
    position: relative;
    height: 100%;
    top:50px;
}

@media only screen and (max-width: 1010px) {

    .sidebar{
        display: none;
    }
}

@media only screen and (max-width: 993px) {
    .content-start{
        height: 100%;
        top:150px;
    }
    .model{
        top:150px;
    }

    .editor{
        width: calc(100vw - 50px);
    }

    .sidebar{
        display: none;
    }
}